{{ $imagepath := .Path | replaceRE "\\.\\w+$" "/" | replaceRE "\\\\" "/" | absURL }}
<article class="media">
	<figure class="media-left">
		<a href="{{ .Permalink }}">
			<figure class="image is-128x128">
				<img src="{{ $imagepath }}thumb.jpg" alt="{{ .Title }}">
			</figure>
		</a>
	</figure>
	<div class="media-content">
		<h2 class="title is-4"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
		<div class="content">
			{{ .Summary }}
		</div>
		{{ if index .Params "projects/types" | len }}
			<p>
				{{ range (index .Params "projects/types") }}
					<a href="/projects/types/{{ . | urlize }}"><span class="tag">{{ . }}</span></a>
				{{ end }}
			</p>
		{{ end }}
	</div>
</article>