@font-face {
   font-family: 'Francois One';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/samsa/Documents/GitHub/samasaurus6.github.io/fonts/Francois One/regular.ttf') format('truetype');
}
